.content-h3,
.content-h4 {
  color: #5c666a;
  font-weight: 400;
  font-size: 1.5em;
}
.content-h4 {
  margin: 10px 0;
  font-size: 1.2em;
}
.baseInfo,
.fldInput {
  display: flex;
}
.fldInput {
  margin-right: 10px;
  align-items: center;
}

.analyzerTable {
  display: flex;
  flex-wrap: wrap;
}

.analyzerTable .fldInput {
  margin-right: 20px;
  justify-content: space-between;
  input,
  p-dropdown {
    margin-left: 10px;
  }
}

.addBtn {
  vertical-align: sub;
  color: #007ad9;
}

.fldInput-textarea {
  margin: 10px 0;
  align-items: baseline;
  .content-h4 {
    width: 4.3em;
  }
  .normal-textarea {
    margin-left: 10px;
    resize: none;
    width: 50em;
    height: 5em;
    max-width: 50em;
    max-height: 5em;
  }
}

.dialog-content {
  width: 400px;
  max-height: 450px;
  padding: 0 10px;
  .dialig-line {
    margin: 10px 0;
  }

  .content-h4,
  .dialig-line {
    text-indent: 1em;
  }

  pre {
    text-indent: 2em;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

.table-toggle {
  width: 100%;
}
