<div class="dialog-content" *ngIf="analyzer" (show)="showDialogMaximized($event,dialDetail)" #dialDetail>

  <h2 class="dialig-title">{{analyzer.name}}（{{analyzer.online ? '已上线' : '未上线'}}）</h2>
  <p class="dialig-line--1st">分析器类型：{{analyzer.type}}</p>
  <p class="dialig-line--1st">运行时间：({{analyzer.runMonth}}) 月</p>
  <p class="dialig-line--1st">运行前提条件： {{analyzer.applyOn}}</p>
  <p class="dialig-line--1st">分析器数量：{{analyzer.tree.length}}个</p>
  <br>
  <div class="dialog-block-list">
    <div class="dialog-block" *ngFor="let treeItem of analyzer.tree;index as i">
      <p class="dialig-line--1st">分析项名称：{{treeItem.name ? treeItem.name : 'CASE' + (i + 1)}}
        <ng-template [ngIf]="treeItem.status === 0">
          ✘
        </ng-template>
        <ng-template [ngIf]="treeItem.status === 1">
          ✔
        </ng-template>
        <ng-template [ngIf]="treeItem.status === 2">
          ?
        </ng-template>
      </p>

      <p class="dialig-line--2nd">
        条件满足：{{treeItem.condition}}，触发分析结果，包括：
      </p>
      <p class="dialig-line--3rd">标题：
        {{treeItem.title}}</p>
      <p class="dialig-line--3rd">生成任务：<span
          *ngFor="let task of treeItem.taskTemplates;index as i">{{i>0?'、':''}}{{task.title}}</span></p>
      <p class="dialig-line--3rd">建议摘要：{{treeItem.summary}}</p>
      <p class="dialig-line--3rd">建议正文：</p>
      <pre class="{{treeItem['showAllAd']?'':'hideAd'}}">{{treeItem.advice}} </pre>
      <p *ngIf="treeItem.advice" style="color: #135ba1;text-indent: 3em;" (click)='showAdvice(i)'>
        {{ treeItem['showAllAd']?'收起':'查看全部'}}</p>
    </div>
  </div>
  <p-footer style="width: 100%; display: flex; flex-direction: row-reverse;">
    <button type="button" pButton icon="pi pi-times" (click)="ref.close()" label="关闭"
      class="ui-button-secondary"></button>
  </p-footer>
</div>