.dialog-content {
  height: 700px;
  padding: 0 10px 20px 10px;

  .accordion.ui-accordion {
    max-height: 430px;
    overflow: auto;
    .ui-accordion-content {
      max-height: 400px;
      overflow: auto;
    }
  }

  p {
    margin: 5px 0 !important;
  }

  h4,
  h5 {
    margin: 0;
  }

  .dialig-title {
    margin: 0;
    text-align: center;
  }

  .dialig-line--1st {
    position: relative;

    &:before {
      content: "*";
      position: absolute;
      left: -10px;
      top: 2px;
    }

    text-indent: 1em;
    margin: 10px 0;
  }

  .dialig-line--2nd,
  .dialig-line--3rd {
    position: relative;

    &:before {
      content: "-";
      position: absolute;
      left: -10px;
      top: 0px;
    }
  }
  .dialig-line--2nd {
    text-indent: 2em;
  }
  .dialig-line--3rd {
    text-indent: 3em;
  }

  .content-h4,
  .dialig-line {
    text-indent: 1em;
  }

  pre {
    text-indent: 2em;
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .hideAd {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .dialog-block-list {
    margin-top: -15px;
    margin-bottom: 10px;
    height: 315px;
    overflow: auto;
  }
  .rt-border {
    border-right: 1px solid #c8c8c8;
  }
  .showAllTask {
    .more-taskItem {
      display: block !important;
    }
  }
  .more-taskItem {
    display: none;
  }
  .case-taskItem {
    border-bottom: 1px solid #c8c8c8;
  }

  .task-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .task-link {
    color: #135ba1;
    text-indent: 3em;
  }

  .case-footer {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }

  .close-btn {
    position: absolute;
    top: -40px;
    right: 10px;
  }
}
