.app-component-container {
    display: flex;

    .analyzer-edit {
        margin: 0 20px;
    }

    .analyzer-title {
        margin: 0;
        padding-bottom: 10px;
        color: #5c666a;
    }
}
