<div class="analyzer-container">
    <app-case-edit [analyzer]="analyzer" [ngStyle]="{'display':showTaskView?'none':'block'}">
    </app-case-edit>

    <app-path-task #taskBlock [ngStyle]="{'display':!showTaskView?'none':'block'}" [analyzer]="analyzer"
        (setTasks)="hideTasks($event)"></app-path-task>
</div>
<p-footer class="foot-bar">
    <button pButton type="button" label="预览" icon="pi pi-search" (click)='showPreDialog()' style="margin-right: .5em"
        class="ui-button-secondary"></button>
    <button pButton type="button" label="保存" icon="pi pi-check" style="margin-right: .5em"
        (click)='clickSave()'></button>
    <ng-template [ngIf]="analyzer.id">
        <button pButton type="button" *ngIf="!showTaskView " label="任务配置" icon="pi pi-check" (click)='setTaskConfirm()'
            style="margin-right: .5em"></button>
        <button pButton type="button" label="删除分析器" icon="pi pi-check" (click)='deleteAnalyzer()'
            style="margin-right: .5em" class="ui-button-danger"></button>
    </ng-template>
</p-footer>
<p-confirmDialog [style]="{width: '30vw'}"></p-confirmDialog>
<p-toast [style]="{marginTop: '20px'}" position="top-center"></p-toast>