.analyzer-container {
    padding: 0 20px;
    max-height: 75vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.tool-btn {
    margin-right: 0.5em;
}
.foot-bar {
    display: flex;
    padding: 10px 0;
    flex-direction: row-reverse;
}
